*{
    margin: 0;
    padding: 0;
}

   
.container{
    width: 100%;
    height: 600px;
    text-align: center;
    
}
/*header*/
.text{
    font-family: 'Akaya Telivigala', cursive;
    color: #527C1E;
}
.img-principal{
    background: url('../recurso/img/bg.png') no-repeat center center/cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.next-prev{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 11%;
    padding: 20px;    
    color: #C1CDAA;
}

/*
.sliders/{
    position: absolute;
width: 4px;
height: 65px;
left: 66px;
top: 312px;
border-radius: 200px;

background: #FDF8E5;
}
*/
