
main{
    
position: absolute;
top: 300px;
margin: 0;
padding:auto;
margin: auto;
width: 100%; 
     height: 600px; 
     border: 2px solid #555; 
     background: #E3C065;
    
     border-radius: 20% 20% 0 0;
    
}
#slide1{
     position: absolute;
     transform: translate(-50%, -50%);
     left:50%;
     top: -35%;
}

ul.slider{
     position: relative;
     margin: auto;
     width: 50%;
     padding: auto;
     height: 200px;
     top:15%;
}

ul,li{
     margin: 0;
     padding: 0;
     list-style: none;
}   

.footer{
     position: absolute;
     left: 6.39%;
     right: 6.67%;
     top: 59.84%;
     bottom: 6.56%;
     height: 500px;
     background: linear-gradient(179.89deg, rgba(255, 255, 255, 0) 19.61%, rgba(255, 255, 255, 0.5) 99.91%);
     box-shadow: inset 0px -18px 8px rgba(255, 255, 255, 0.25);
     border-radius: 50px;   
}

aside{
     display: grid;
     grid-template-columns: 200px 200px;
     border: 1px solid red;
}
.plato{
     border-radius: 60%;
     position: absolute;
     box-shadow: 0px 10px  #FDF8E5;
     background-color:  #FDF8E5;
     height: 80px;
     left: 13%;
     min-width: 100px;
     width: 70%;
}
.circilo-plato{
     position: absolute;
     border-radius: 100%;
     background-color: white ;
     height: 50px;
     width: 10%;
     left: 50%;
     top: 70%;
     min-width: 50px;
     min-height: 50px;
}
.circilo-plato .version{
     color:black;
     text-align: center;
     top: 15px;
     position: absolute;
     left: 30%;
     font-size: 18px;
     font-weight: bold;
}
.circilo-plato img{
     position: absolute;
     width: 35%;
     right:2%;
     border: none;
     background: #E3C065;
     
}

.buttones{

     position: absolute;
     display: flex;
     flex-direction: column;
     left: 65%;     
}
.circle{
    
     display: flex;
     border:1px solid red;
     border-radius: 100%;
     margin: 10px;
}
.txt-aside{
     position: absolute;
     left: 40%;
     
    
     
}
   .p1 {
        position: absolute;
    left: 20%;
    font-size: 20px;
     color: white;
     
}
.p2{
     Font-family: Roboto Condensed;
     Font-style: Regular;
     Font-size: 35px;
    margin: 20px 0;
     color: #385C0A;
    
     Vertical-align: Top;
    
}
.precio{
     position: absolute;
     font-size: 35px;
     color: #385C0A;
     font-weight: bold;
     left: 30%;
}
.txt-aside2{
     width: 400px;
     position:absolute;
     top: 150px;
     transform: translate(-20%, 10%);
     border: 1px solid rgb(5, 5, 5);
     margin: 25px;
     padding: 5px;
     font-size: 15px;
     color: #385C0A;    
}


@media screen and(max-width:450px){

  .circilo-plato{   width: 25%;
     height: 90px;   
     font-size: 15px;
}
.p1,
.p2{
     position: absolute;
     right:0 ;
     margin: 0;
     
}

}
     /* Ellipse 4 */

     

/*
ul.slider li{
position: absolute;
top: 0;
left: 0;
opacity: 0;
width: inherit;
height: inherit;

transition: opacity .5s;
}
ul.slider li img{
     left: 0;
     position: absolute;
     overflow: hidden;
     width: 100%;
     left: 50%;
     height: 300px;
     object-fit: cover;
     
}
ul.slider li:first-child{
opacity: 1;
}
   /* .oval{*/
   /* position: absolute;
     width: 250px;
     height: 100px;
     -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     border-radius: 50%;
     background:white;
     left:40% ;
     top: 10%;
     overflow:scroll;
  /*  }*/